@page "/carrito"

<div class="main">
    <div class="shop_top">
        <div class="container">
            <h4 class="title">Carro de Compras</h4>
            <p class="cart">Puedes agregar articulos a tu carro de compras<br> Clic <NavLink href="/">Aqui</NavLink> para continuar comprando</p>
        </div>
    </div>
</div>