@page "/categorias"
@using OnlineBlazorApp.Data.Model
@using OnlineBlazorApp.Data.Service
@inject ICategoriaService CategoriaService
@inject NavigationManager NavigationManager


<div class="main">
    <div class="shop_top">
        <h3 class="m_2">Categorias</h3>
        <br />
        <div class="container">
            <div class="row ex_box">

                @if (categorias != null)
                {
                    @foreach (var categoria in categorias)
                    {
                        <div class="col-md-2">
                            <div class="img_section magnifier2">
                                <button @onclick="() => IdCategoria(categoria.pk_cod_categoria)"
                                        class="fancybox"
                                        data-fancybox-group="gallery">
                                    <img src=@categoria.imagen class="img-responsive" alt=""><span> </span>
                                    <div class="img_section_txt">
                                        @categoria.nombre
                                    </div>
                                </button>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>

@code {

    IEnumerable<Categoria> categorias;

    protected override async Task OnInitializedAsync()
    {
        categorias = await CategoriaService.GetAllCategorias();

    }
    void IdCategoria(int categoria)
    {
        NavigationManager.NavigateTo("/categoria/"+categoria+"/1", forceLoad: true);
    }


}