@page "/categorias"

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Categorias</h3>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        
                        <NavLink activeClassName="active"
                                 class="fancybox"
                                 href="/Estilo/images/nike2.jpg" data-fancybox-group="gallery" title="NIKE RUNNING">
                            <img src="/Estilo/images/nike2.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                nike
                            </div>
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>