@page "/categorias"
@using OnlineBlazorApp.Data.Model
@using OnlineBlazorApp.Data.Service
@inject ICategoriaService CategoriaService
@inject NavigationManager NavigationManager
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Categorias</h3>
                <br />
                @if (categorias != null)
                {               
                    @foreach (var categoria in categorias)
                    {
                        <div class="col-md-4">
                            <div class="img_section magnifier2">
                                <NavLink activeClassName="active"
                                         class="fancybox"
                                         href=@categoria.imagen data-fancybox-group="gallery" title="NIKE RUNNING">
                                    <img src=@categoria.imagen class="img-responsive" alt=""><span> </span>
                                    <div class="img_section_txt">
                                        @categoria.nombre
                                    </div>
                                </NavLink>
                            </div>
                        </div>
                      
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {

    IEnumerable<Categoria> categorias;

    protected override async Task OnInitializedAsync()
    {
        categorias = await CategoriaService.GetAllCategorias();

    }


}