@page "/devoluciones"

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254900.13121119505!2d-76.66575259467078!3d3.3953970272403415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6f0cc4bb3f1%3A0x1f0fb5e952ae6168!2sCali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1616599099069!5m2!1ses!2sco" width="600" height="450" frameborder="0" allowfullscreen="" loading="lazy" style="color:#666;text-align:left;font-size:12px"></iframe><br>
                    </div>
                </div>
                <div class="col-md-5">
                    <p class="m_8">Nike, Inc.​ es una empresa multinacional estadounidense dedicada al diseño, desarrollo, fabricación y comercialización de equipamiento deportivo: balones, calzado, ropa, equipo, accesorios y otros artículos deportivos.</p>
                    <div class="address">
                        <p>Cali,</p>
                        <p>USC</p>
                        <p>Colombia</p>
                        <p>Celular:(57) 314 456 476</p>
                        <p>Fax: (000) 000 00 00 0</p>
                        <p>Correo: <span>nike@nike.com</span></p>
                        <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 contact">
                    <form method="post" action="contact-post.html">
                        <div class="to">
                            <input type="text" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                            <input type="text" class="text" value="Correo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                            <input type="text" class="text" value="Dato extra" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                        </div>
                        <div class="text">
                            <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mensaje:</textarea>
                            <div class="form-submit">
                                <input name="submit" type="submit" id="submit" value="Enviar"><br>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>