@page "/editardatos"

<div class="main">
    <div class="shop_top">
        <div class="container">
            <form>
                <div class="register-top-grid">
                    <h3>EDITAR INFORMACION PERSONAL</h3>
                    <div>
                        <span>Nombres<label>*</label></span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Apellidos<label>*</label></span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Correo<label>*</label></span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Telefono<label>*</label></span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Direccion<label>*</label></span>
                        <input type="text">
                    </div>

                </div>
                <div class="clear"> </div>
                <div class="register-bottom-grid">
                    <h3>Cambiar Contraseña</h3>
                    <div>
                        <span>Contraseña<label>*</label></span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Confirmar Contraseña<label>*</label></span>
                        <input type="text">
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>