@page "/register"
@using OnlineBlazorApp.Data.Model
@using OnlineBlazorApp.Data.Service

@inject IUsuarioService UsuarioService
@inject NavigationManager NavigationManager


<EditForm Model="@usuario" OnValidSubmit="@UsuarioInsert">
    <div class="c-register">
        <div class="c-form">
            <h1>Registro</h1>
            <div class="mb-2">
                <label for="name" class="form-label">Nombre : </label>
                <input type="text" class="form-control" id="name" @bind="usuario.nombre" required>
            </div>

            <div class="mb-2">
                <label for="email" class="form-label">Correo electronico : </label>
                <input type="text" class="form-control" id="email" @bind="usuario.email" required>
            </div>
            <div class="mb-2">
                <label for="pass" class="form-label">Contraseña :</label>
                <input type="password" class="form-control" id="pass" @bind="usuario.pass" required>
            </div>
            <div class="mb-2">
                <label for="direccion" class="form-label">Dirección :</label>
                <input type="text" class="form-control" id="direccion" @bind="usuario.direccion" required>
            </div>
            <div class="mb-2">
                <label for="telefono" class="form-label">Telefono :</label>
                <input type="text" class="form-control" id="telefono" @bind="usuario.telefono" required>
            </div>
            <div class="mb-2">
                <input type="submit" value="Registrar" class="btn btn-success btn-block" />
                <input type="button" value="Cancelar" class="btn btn-primary btn-block" @onclick="@Cancel" />
            </div>
           
        </div>
        
    </div>




</EditForm>

@code {
    Usuario usuario = new Usuario();
    protected async Task UsuarioInsert()
    {
        await UsuarioService.UsuarioInsert(usuario);
        NavigationManager.NavigateTo("/login");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
