<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="logo">
                        <NavLink href="">
                            <img src="/Estilo/images/logo.png" alt="" />
                        </NavLink>
                        
                    </div>
                    <div class="menu">
                        <a class="toggleMenu" href="#"><img src="/Estilo/images/nav.png" alt="" /></a>
                        <ul class="nav" id="nav">
                            <li>
                                <NavLink href="Shop">
                                    Tienda
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="Categorias">
                                    Categorias
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="Devoluciones">
                                    Devoluciones
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="Iniciarsesion">
                                    Iniciar sesion
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="register.html">
                                    Registrarse
                                </NavLink>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_right">
                    <!-- start search-->
                    <NavLink href="Carrito">
                        <img src="/Estilo/images/carrito.png" width="25px" alt="Ver carrito de compras">
                    </NavLink>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <NavLink href="Editardatos">
                        <img src="/Estilo/images/lapiz.png" width="25px" alt="Editar datos de usuario">
                    </NavLink>
                    <!----search-scripts---->


                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>