<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="logo">
                        <NavLink href="/"><img src="/Estilo/images/logo.png" alt="" /></NavLink>
                    </div>
                    <div class="menu">
                        <NavLink class="toggleMenu" href="#"><img src="/Estilo/images/nav.png" alt="" /></NavLink>
                        <ul class="nav" id="nav">
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="identity/account/login">
                                    Login
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="identity/account/register">
                                    Sing up
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="lista">
                                    Lista usuarios
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="producto-add">
                                    Añadir producto
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="productos-list">
                                    Lista productos
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="categorias">
                                    Categorias
                                </NavLink>
                            </li>
                      
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="devoluciones">
                                    Devoluciones
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="shop">
                                    Shop
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_right">
                    <!-- start search-->
                    <NavLink href="Carrito">
                        <img src="/Estilo/images/carrito.png" width="25" alt="Ver carrito de compras">
                    </NavLink>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <NavLink href="Editardatos">
                        <img src="/Estilo/images/lapiz.png" width="25" alt="Editar datos de usuario">
                    </NavLink>
                    <!----search-scripts---->


                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
