<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="logo">
                        <a href="Index.razor"><img src="/Pruebaestilo/images/logo.png" alt="" /></a>
                    </div>
                    <div class="menu">
                        <a class="toggleMenu" href="#"><img src="/Pruebaestilo/images/nav.png" alt="" /></a>
                        <ul class="nav" id="nav">
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="identity/account/login">
                                    Login
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="identity/account/register">
                                    Sing up
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="lista">
                                    Lista usuarios
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="producto-add">
                                    Añadir producto
                                </NavLink>
                            </li>
                            <li>
                                <NavLink activeClassName="active"
                                         className="nav-item link-light"
                                         href="productos-list">
                                    Lista productos
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_right">
                    <!-- start search-->
                    <a href="checkout.html"><img src="/Pruebaestilo/images/carrito.png" width="25px"></a>
                    <!----search-scripts---->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
